@model Lab5AspNetCoreEfIndividual.Models.Patient

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Patient</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InsuranceId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InsuranceId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Diagnosis)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Diagnosis)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Consultations)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Doctor</th>
                    <th>Room Number</th>
                </tr>
                @foreach (var item in Model.Consultations)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Doctor.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RoomNumber)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
